
@import "tailwindcss";

@theme {
  --color-emova-primary: #B9C85E;
  --color-emova-secondary: #9FB350;
  --color-emova-grey: #575756;
  --color-emova-white: #FFFFFF;

  --font-playfair: var(--font-playfair);
  --font-libre: var(--font-libre);
  --font-noto: var(--font-noto);
}


:root {
  --background: #ffffff;
  --foreground: #575756;
}

body {
  overflow-x: hidden;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto), sans-serif;
}


h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-playfair), serif;
}
